* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  scroll-behavior: smooth;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
}

.container-fluid .navbar-brand img {
  width: 60px;
}

.navbar-light .navbar-nav .nav-item {
  margin-right: 20px;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  border-right: 4px solid #002960;
}

.dropdown ul li:hover {
  border-right: 4px solid #002960;  
  margin-right: 5px;
}

.Contact-Section .Button {
  display: flex;
  justify-content: flex-end;
}

.Contact-Section button {
  padding: 5px 30px;
  border-radius: 10px;
  background-color: #002960;
  color: white;
  border: 0px solid;
  margin-top: 20px;
}

.Contact-Section button:hover {
  background-color: white;
  color: #002960;
  border: 2px solid #002960;
}

@media (min-width: 300px) {
  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    border-right: 4px solid #002960;
    margin-right: -4px;
  }

  .dropdown ul li {
    margin-right: 20px !important;
  }

  .dropdown ul li:hover {
    border-right: 4px solid #002960;
    margin-right: 20px;
  }

  .wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 12s -1s reverse infinite;
    opacity: 0.9;
  }
}

@media (min-height: 240px) {
  .navbar-collapse {
    overflow-y: scroll;
    height: 220px;
  }
}

@media (min-height: 300px) {
  .navbar-collapse {
    overflow-y: scroll;
    height: 300px;
  }
}

@media (min-height: 400px) {
  .navbar-collapse {
    overflow-y: scroll;
    height: 400px;
  }
}

@media (min-height: 600px) {
  .navbar-collapse {
    overflow-y: scroll;
    height: calc(100vh - 60px);
  }
}


@media (min-height: 1100px) {
  .navbar-collapse {
    overflow-y: unset !important;
    height: auto;
  }
}


@media (min-width: 750px) {
  .Contact-Section .Button {
    margin-right: 10%;
  }
}

@media (min-width: 992px) {
  .navbar-collapse {
    overflow-y: unset !important;
    height: auto !important;
  }

  .navbar-light .navbar-nav .nav-item {
    margin-right: 0px;
  }

  .navbar-light .navbar-nav .nav-link:focus,
  .navbar-light .navbar-nav .nav-link:hover {
    border-right: 4px solid #002960;
    margin-right: -4px;
  }

  .dropdown ul li {
    margin-right: 5px !important;
  }

  .dropdown ul li:hover {
    border-right: 4px solid #002960;
    margin-right: 5px;
  }

  .navbar-expand-lg .navbar-nav .dropdown-menu {
    width: 250px;
  }
}

@media (min-width: 1024px) and (max-width: 2500px) {
  .dropdown-menu{
    display: none !important;
  }

}
@media (min-width: 1600px) {
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: 35% !important;
  }
}

#instagram-icon {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block;
}

#email-icon {
  background: linear-gradient(
    45deg,
    #f44336,
    #ff4081,
    #9c27b0,
    #673ab7
  ); /* Gradient colors */
  -webkit-background-clip: text; /* Ensures the gradient applies to the text */
  color: transparent; /* Makes sure the text color is transparent to show the gradient */
  display: inline-block; /* Ensures the icon is treated as an inline block */
}




/* footer */
.footer-section {
  margin-top: -250px !important;
}
@media (min-width: 320px) and (max-width: 900px) {
  .footer-section {
    margin-top: 10px !important;
  }
}

@media (min-width: 900px){
  .footer-section {
    margin-top: -22px !important;
  }
}

@media (min-width: 1024px){
  .footer-section {
    margin-top: -42px !important;
  }
}

@media (min-width: 1400px){
  .footer-section {
    margin-top: -42px !important;
  }
}


